[Unit]
Description=set secret_key_base for leihs-legacy

[Service]
Type=oneshot
# RemainAfterExit prevents retriggering by path
# RemainAfterExit=yes
ExecStart=/leihs/deploy/bin/set-secret-key-base-for-leihs-legacy
