[Unit]
SyslogIdentifier=leihs-my
Description=Leihs My Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service

[Service]
WorkingDirectory={{leihs_my_dir}}
User={{leihs_my_user}}
Group={{leihs_my_user}}
Environment=LEIHS_MY_HTTP_BASE_URL=http://localhost:{{leihs_my_port}}
Environment=LEIHS_DATABASE_URL=jdbc:postgresql://{{database.username}}:{{database.password}}@localhost:5432/{{database.database}}?max-pool-size=20
Environment=LEIHS_MY_HTTP_BASE_URL=http://localhost:{{leihs_my_port}}
ExecStart=/usr/bin/env java "-Xmx300m" -jar {{leihs_my_dir}}/leihs-my.jar run
[Install]
WantedBy=multi-user.target
