[Unit]
Description=Leihs Admin Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service

[Service]
SyslogIdentifier=leihs-admin
WorkingDirectory={{leihs_admin_dir}}
User={{leihs_admin_user}}
Group={{leihs_admin_user}}
Environment=LEIHS_DATABASE_URL=jdbc:postgresql://{{database.username}}:{{database.password}}@localhost:{{database.port}}/{{database.database}}?max-pool-size=20
Environment=LEIHS_SECRET={{leihs_master_secret}}
Environment=LEIHS_ADMIN_HTTP_BASE_URL=http://localhost:{{LEIHS_ADMIN_HTTP_PORT}}
Environment=LEIHS_REMOTE_NAVBAR_URL=http://localhost:{{LEIHS_MY_HTTP_PORT}}/my/navbar
Environment=CLASSPATH={{leihs_admin_dir}}/leihs-admin.jar
ExecStart=/usr/bin/env java "-Xmx500m" leihs.admin.back.main run

[Install]
WantedBy=multi-user.target
