[Unit]
Description=Leihs Admin Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service

[Service]
WorkingDirectory={{leihs_admin_dir}}
User={{leihs_admin_user}}
Group={{leihs_admin_user}}
Environment=LEIHS_DATABASE_URL=jdbc:postgresql://{{database.username}}:{{database.password}}@localhost:5432/{{database.database}}?max-pool-size=20
Environment=CLASSPATH={{leihs_admin_dir}}/leihs-admin.jar
Environment=LEIHS_SECRET={{leihs_master_secret}}
ExecStart=/usr/lib/jvm/java-9-openjdk-amd64/bin/java "-Xmx512m" leihs.admin.back.main run

[Install]
WantedBy=multi-user.target
