[Unit]
Description=Leihs inventory Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service
PartOf=leihs-migration.service

StartLimitIntervalSec=180
StartLimitBurst=6


[Service]
SyslogIdentifier=leihs-inventory
WorkingDirectory={{leihs_inventory_dir}}
User={{leihs_inventory_user}}
Group={{leihs_inventory_user}}

LimitNOFILE=64000
Restart=always
RestartSec=5

Environment=LEIHS_SECRET={{leihs_master_secret}}
Environment=DB_PORT={{database.port}}
Environment=DB_NAME={{database.database}}
Environment=DB_USER={{database.username}}
Environment=DB_PASSWORD={{database.password}}
Environment=DB_MAX_POOL_SIZE=10
Environment=HTTP_PORT={{LEIHS_INVENTORY_HTTP_PORT}}

ExecStart=/usr/bin/env java "-Xmx500m" -jar leihs-inventory.jar run


[Install]
WantedBy=multi-user.target

# vi: ft=sh
