[Unit]
Description=Leihs Legacy Service
After=syslog.target
BindsTo=leihs-migration.service
After=leihs-migration.service

[Service]
SyslogIdentifier=leihs-legacy
WorkingDirectory=/leihs/legacy
User={{leihs_legacy_user}}
Group={{leihs_legacy_user}}
Environment=LEIHS_SECRET={{leihs_master_secret}}
Environment=PATH=/home/{{leihs_legacy_user}}/.rubies/ruby-{{leihs_legacy_ruby_version}}/bin:/usr/local/bin:/usr/bin:/bin
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=LEIHS_SEND_MAILS={{leihs_send_mails}}
Environment=RAILS_SERVE_STATIC_FILES=Yes
ExecStart=/home/{{leihs_legacy_user}}/.rubies/ruby-{{leihs_legacy_ruby_version}}/bin/ruby -S \
    bundle exec puma \
    -e production \
    -t 1:{{leihs_legacy_max_threads_per_worker}} \
    -w {{leihs_leagcy_workers}} \
    -b tcp://localhost:{{leihs_legacy_port}}

[Install]
WantedBy=multi-user.target
