[Unit]
SyslogIdentifier=leihs-legacy-cron
Description=Leihs Legacy Cron Service
After=syslog.target
BindsTo=leihs-migration.service

[Service]
Type=oneshot
WorkingDirectory=/leihs/legacy
User={{leihs_legacy_user}}
Group={{leihs_legacy_user}}
Environment=PATH=/home/{{leihs_legacy_user}}/.rubies/ruby-{{leihs_legacy_ruby_version}}/bin:/usr/local/bin:/usr/bin:/bin
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=LEIHS_SEND_MAILS={{leihs_send_mails}}
Environment=RAILS_SERVE_STATIC_FILES=Yes
ExecStart=/home/{{leihs_legacy_user}}/.rubies/ruby-{{leihs_legacy_ruby_version}}/bin/ruby -S \
    bundle exec rake leihs:cron
