[Unit]
Description=Leihs procure Service
After=syslog.target
After=network.target

BindsTo=leihs-migration.service
After=leihs-migration.service

[Service]
SyslogIdentifier=leihs-procure
WorkingDirectory={{leihs_procure_dir}}
User={{leihs_procure_user}}
Group={{leihs_procure_user}}
Environment=LEIHS_PROCURE_HTTP_BASE_URL=http://localhost:{{leihs_procure_port}}
Environment=LEIHS_DATABASE_URL=jdbc:postgresql://{{database.username}}:{{database.password}}@localhost:{{database.port}}/{{database.database}}?max-pool-size=20
Environment=CLASSPATH={{leihs_procure_dir}}/leihs-procurement.jar
Environment=LEIHS_SECRET={{leihs_master_secret}}
ExecStart=/usr/bin/env java "-Xmx512m" leihs.procurement.backend.main run

[Install]
WantedBy=multi-user.target
